{
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "crlf",
    "quoteProps": "as-needed",
    "printWidth": 90,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "useTabs": false
}